/.bumptimestamp
/.git-hooks/.timestamp
/.github/actionlint.yaml
/.github/actionlint.yml
/.idea
/.linttimestamp
/.testtimestamp
/.worktrees/
/actionlint
/actionlint-workflow-ast
/actionlint.exe
/actionlint_fuzz-fuzz.zip
/corpus
/coverage.html
/coverage.out
/crashers
/env.sh
/man/.bundle/
/man/actionlint.1
/man/actionlint.1.html
/node_modules
/playground-dist
/vendor/
