/.github/actionlint.yaml
/.github/actionlint.yml
/.cache/
/.idea
/.playwright-mcp/
/.worktrees/
/actionlint
/actionlint-workflow-ast
/actionlint.exe
/actionlint_fuzz-fuzz.zip
/bump-version
/corpus
/coverage.html
/coverage.out
/crashers
/dist/
/distribution/*/dist/
/env.sh
/man/actionlint.1
/man/actionlint.1.html
/packages/*/dist/
/playground-dist
/result
/result-*
/vendor/
node_modules/
