* text=auto eol=lf
/actup.schema.json linguist-generated=true -diff
/sarif_template.txt -text
/scripts/bump-version/testdata/** -text
/scripts/generate-actionlint-matcher/testdata/** -text
/scripts/generate-availability/testdata/** -text
/scripts/generate-popular-actions/testdata/** -text
/packages/github-action/tools/*.json linguist-generated=true
/scripts/generate-webhook-events/testdata/** -text
/testdata/** -text
