/.github/actionlint.yaml
/.github/actionlint.yml
/.idea
/.worktrees/
/actionlint
/actionlint-workflow-ast
/actionlint.exe
/actionlint_fuzz-fuzz.zip
/bump-version
/choco/dist/
/corpus
/coverage.html
/coverage.out
/crashers
/env.sh
/man/actionlint.1
/man/actionlint.1.html
/node_modules
/npm/dist/
/playground-dist
/vendor/
